extends layout

block content
    h1 Wild Feed
    p.
        The WildFeed Api allows users to login with facebook,
        post images with captions and see other users' posts.
    div
        span Built with 
            a(target="_blank" href='https://expressjs.com/') Express
        span , 
            a(target="_blank" href='https://mongoosejs.com/') Mongoose
        span  and 
            a(target="_blank" href='https://github.com/pugjs/pug') Pug

    h4 For development:
    p The client side app must get the user's fb_user_token like the one here:
    a(href="https://developers.facebook.com/tools/explorer/357231431592244" target="_blank").
        https://developers.facebook.com/tools/explorer/357231431592244

    p.
        then get an x-auth-token (GET authenticate user).
        Send this x-auth-token in every following request (in the headers).

    p Store images in a 3rd party image storing service like
        span 
        a(href="https://cloudinary.com/" target="_blank") Cloudinary
    
    h3 API Documentation
    //- -----------------------------------------
    h4 GET authenticate user
    p.code-snippet 
        code /api/auth/facebook

    p request headers:
    .code-snippet
        pre
            code.
                {
                    Authorization: Bearer kji38FK...eyJh
                }
    h5 Response
    p response headers:
    .code-snippet
        pre
            code.
                {
                    x-auth-token: eyJh...FBUw
                }
    p response body:
    .code-snippet
        pre
            code.
                {
                    "id": "3272643227354658"
                }
    //- -----------------------------------------
    //- -----------------------------------------

    h4 GET posts
    p.code-snippet 
        code /api/posts

    p request headers:
    .code-snippet
        pre
            code.
                {
                    x-auth-token: eyJh...FBUw
                }
    h5 Response
    p response headers:
    .code-snippet
        pre
            code.
                {
                    x-auth-token: eyJh...FBUw
                }
    p response body:
    .code-snippet
        pre
            code.
                {
                    "posts": [
                        {
                            "_id": "5ce6c03bdce0d5001725e75f",
                            "author": {
                                "username": "Michel.Pollich",
                                "_id": "...",
                                "facebookId": "...",
                                "displayName": "Brad McChadwick",
                                "avatar": "https://platform-lookaside.fbsbx.com/platform/profilepic/...",
                                "createdAt": "2019-05-23T15:44:03.242Z",
                                "updatedAt": "2019-05-23T15:44:03.242Z",
                                "__v": 0
                            },
                            "imageUrl": "https://www.cloudinary.com/21378/...",
                            "caption": "this image is so nice :)",
                            "createdAt": "2019-05-23T15:46:03.336Z",
                            "updatedAt": "2019-05-23T15:46:03.336Z",
                            "__v": 0
                        },
                        {...},
                        {...},
                        {...},
                    ]
                }
    //- -----------------------------------------
    //- -----------------------------------------

    h4 GET posts from a specific user
    p.code-snippet 
        code /api/posts?user_id=234235346356

    p request headers:
    .code-snippet
        pre
            code.
                {
                    x-auth-token: eyJh...FBUw
                }
    h5 Response
    p response headers:
    .code-snippet
        pre
            code.
                {
                    x-auth-token: eyJh...FBUw
                }
    p response body:
    .code-snippet
        pre
            code.
                same as previous
    //- -----------------------------------------
    //- -----------------------------------------
    h4 POST create new Post
    p.code-snippet 
        code /api/posts/new

    p request headers:
    .code-snippet
        pre
            code.
                {
                    x-auth-token: eyJh...FBUw,
                    Content-Type: application/json
                }

    p request body:
    .code-snippet
        pre
            code.
                {
                    "imageUrl": "https://cloudinary.com/Fmsn2D...",
                    "caption": "I took this picture and it came out OK"
                }

    h5 Response
    p response headers:
    .code-snippet
        pre
            code.
                {
                    x-auth-token: eyJh...FBUw
                }
    p response body:
    .code-snippet
        pre
            code.
                {
                    "imageUrl": "https://cloudinary.com/Fmsn2D...",
                    "caption": "I took this picture and it came out OK",
                    "createdAt": "2019-05-23T15:46:03.336Z",
                    "updatedAt": "2019-05-23T15:46:03.336Z",
                }
    //- -----------------------------------------


    h6 Made by 
        a(target="_blank" href='https://github.com/diogofgr') Diogo

    h6
        a(href="https://www.freeprivacypolicy.com/privacy/view/c52a82ff140f9dc1b7241b6b0fd159d5" target="_blank").
            Privacy Policy