extends layout

block content
    form.new-post(method='POST' action=redirect)
        div
            input(type='text', placeholder='Paste image URL here' name='imageUrl')
        div.new-post-textarea
            //- must be name 'caption' because of pug-file-upload.js
            textarea(maxlength='140' placeholder='Add a caption here' name='caption')
        button.new-post-submit-btn(type='submit') Publish