* {
    --avatar-small: 35px;
    --std-side-padding: 20px;
}

.feed-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-item > img{
    width: 100%;
}

.feed-item-header {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.feed-item-header img {
    border-radius: 50%;
    width: var(--avatar-small);
    height: var(--avatar-small);
}

.feed-item-image{
    width: 100vw;
}
.feed-item-image img{
    width: 100%;
}

.feed-item-footer {
    width: 100%;
    padding: 10px;
}
.feed-item-footer > h6 {
    margin: 0;
    padding-top: 5px;
    color: #aaa;
}

.feed-item-footer-spaced {
    padding-right: 10px;
}
